/* Adjust margin-top for better spacing */
.cart-page {
  margin-top: 64px;
}

/* Style the heading */
.cart-page h1 {
  padding: 15px; /* Removed !important */
  font-family: "Roboto", sans-serif; /* Corrected font name */
  font-weight: normal;
  background-color: rgba(0, 0, 255, 0.072); /* Removed !important */
}

/* Style the paragraph inside the heading */
.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

/* Style the cards */
.cart-page .card {
  width: 65%;
  padding: 10px; /* Adjusted padding */
  height: 30%; /* Changed height to auto */
  margin-bottom: 10px; /* Adjusted margin */
}

/* Style the remove button */
.cart-page .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the summary section */
.cart-page .cart-summary {
  text-align: center;
  /* margin-top: -140px !important; */ /* Removed commented line */
}
